@using Ogloszenia.Models;
@{
    ViewBag.Title = "Home Page";
    var news = (List<Ogloszenia.Models.News>)ViewData["news"];
}


    <div class="row">
        <h2 class="wow fadeInUp">Najnowsze aktualności</h2>
        @if (news.Any())
        {
            foreach(News n in news)
            {
                <div class="col-md-4">
                    <h3>@n.Title</h3>
                    <p>
                        @n.Content
                    </p>
                </div>
            }
        }
        else
        {
            <p class="text-center">Brak wiadomości.</p>
        }
    </div>