
@{
    ViewBag.Title = "BannedWordInserted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ogłoszenie zostało odrzucone - w treści wykryto przynajmniej jedno słowo zdefiniowane przez administratora jako zakazane.</h2>

