@using Ogloszenia.Models
@{
    ViewBag.Title = "Przeglądaj ogłoszenia";
    var categories = (List<Ogloszenia.Models.Category>)ViewData["categories"];
}

    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Kategorie</div>
            <div class="panel-body">
                <ul>
                    @foreach(Category c in categories)
                    {
                        <li>
                            <a href="#">@c.Name</a>
                                <ul>
                                @foreach (Category c1 in c.getChildCategories())
                                {
                                    <li>@c1.Name</li>
                                }
                                </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8">
        Tu bedzie lista ogloszen
    </div>
